body,h1,h2,h3,h4,h5,h6,a,li,p {
    font-family: 'Cairo', sans-serif;
}
.sweet-alert h2 {font-family: 'Cairo', sans-serif;font-weight: 500;}
.sweet-alert p {font-family: 'Cairo', sans-serif;}
.sweet-alert button {font-family: 'Cairo', sans-serif;}
.sweet-alert {font-family: 'Cairo', sans-serif;}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("{{url('cpanel/app-assets/loader-64x/1.gif')}}") center no-repeat #fff;        }
    .message{
    position: absolute;width: 100%;height: 50px;background-color: #11c011;color: white;line-height: 50px;
    z-index: 1200;text-align: center;opacity: 1;top: -50px ;
}
